html {
    min-height: 100%;
    background-image: url(../Images/anniversary\ image.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    background-color: PINK;
    background-blend-mode: lighten;
    text-align: center;
    opacity: 
}


div.font {
    font-family: cursive;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 5px 5px pink;
}

img {
    margin-right: 100%;
    
}
